#SQLite3 Tutorial: Creating Databases And Tables

SQLite is a self-contained, serverless, and lightweight database engine that allows you to store and manage structured data. In this tutorial, we will learn how to use the sqlite3 module in Python to create, modify, and query a SQLite database. We'll use Jupyter Notebook for a convenient interactive environment.

##Getting Started:
###1. Importing sqlite3 Module

Start by importing the sqlite3 module, which is part of the Python standard library and provides an interface to work with SQLite databases.

In [ ]:
import sqlite3

###2. Creating a Connection

To interact with a SQLite database, you need to establish a connection to it. If the database doesn't exist, SQLite will create it for you. We'll use the `connect()` method to create a connection.

In [ ]:
# Establish a connection to the database or create it if not exists
conn = sqlite3.connect('mydatabase.db')

Replace `mydatabase.db` with the desired name of your database file.

##3. Creating a Table

Tables store data in a structured format. Let's create a simple table to store information about users. We'll define the table's schema with columns for `id`, `username`, `email`, and other data types.

In [ ]:
# Create a cursor object to interact with the database
cursor = conn.cursor()

In [ ]:
# Define the CREATE TABLE query, it's a simple string that holds the content of your query.

create_table_query = '''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    username TEXT NOT NULL,
    email TEXT NOT NULL,
    age INTEGER,
    balance REAL,
    profile_picture BLOB
);
'''

In [ ]:
# Execute the query to create the table
cursor.execute(create_table_query)

In this example, we've used different data types such as `INTEGER`, `TEXT`, `REAL`, and `BLOB` to define columns.

In [ ]:

#@title Run this cell to add some users into your table! (It's a secert!:D)
# Insert new user records
insert_query = '''
INSERT INTO users (username, email, age, balance, profile_picture)
VALUES (?, ?, ?, ?, ?);
'''

# List of user data to be inserted
user_data = [
    ('John Doe', 'john@example.com', 28, 1500.50, None),
    ('Jane Smith', 'jane@example.com', 32, 2000.75, None),
    ('Sam Brown', 'sam@example.com', 25, 900.25, None)
]

# Execute the insert query for each user
cursor.executemany(insert_query, user_data)

# Commit the changes
conn.commit()

##4. Basic SELECT Query

To retrieve data from a table, you can use the SELECT statement. Here's an example of fetching all records from the "users" table:

In [ ]:
# Define a SELECT query
select_query = '''
SELECT * FROM users;
'''

# Execute the query and fetch all results
cursor.execute(select_query)
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

(1, 'John Doe', 'john@example.com', 28, 1500.5, None)
(2, 'Jane Smith', 'jane@example.com', 32, 2000.75, None)
(3, 'Sam Brown', 'sam@example.com', 25, 900.25, None)

### 4. PRAGMA Statements

SQLite provides `PRAGMA` statements that allow you to control various aspects of the database. For example, you can use `PRAGMA` to inspect table details.

In [ ]:
# Use PRAGMA to inspect details of the "books" table
pragma_query = '''
PRAGMA table_info(users);
'''

# Execute the PRAGMA query
cursor.execute(pragma_query)

# Fetch and print the column details
column_details = cursor.fetchall()
for column in column_details:
    print(column)

In this example, the `PRAGMA table_info(users)`; statement is used to retrieve information about the columns of the `users` table. The result will include details such as column name, data type, whether the column can be NULL, and whether the column is part of the primary key.

You can modify the table name (`users` in this example) to match the name of the table you want to inspect.

###5. Closing the Connection

After you're done working with the database, close the cursor and the connection to release resources.

In [ ]:
# Close the cursor and the connection
cursor.close()
conn.close()


##**Challenge Question:**

You're developing a simple library management system using SQLite for storing book and member information. You need to create two tables: `books` and `members`. Each book has a `title`, `author`, and `publication year`, while each `member` has a `name`, `email`, and `membership status`. Here's your challenge:

1. Create the "books" and "members" tables with appropriate columns and data types to store book and member information.
2. Inspect the details of each table after creating them.

Use the concepts covered in this tutorial to answer these questions.

**Note:** This question tests your ability to design and interact with multiple tables in an SQLite database. Take your time to think through each step and apply the knowledge you've gained from the tutorial.

In [ ]:
import sqlite3

con = sqlite3.connect('Lab_intro1.db')
cursor = con.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS books(
          title text NOT NULL,
          author text NOT NULL,
          publication_year int NOT NULL)""")

cursor.execute("""CREATE TABLE IF NOT EXISTS members(
          name text NOT NULL,
          email text NOT NULL UNIQUE,
          membership_status text NOT NULL UNIQUE)""")


print("--------------------- Books Tables ---------------------------------\n")

# Use PRAGMA to inspect details of the "books" table
pragma_query = '''
PRAGMA table_info(books);
'''

# Execute the PRAGMA query
cursor.execute(pragma_query)

# Fetch and print the column details
column_details = cursor.fetchall()
for column in column_details:
    print(column)

print("\n--------------------- Member Tables ---------------------------------\n")
# Use PRAGMA to inspect details of the "member" table
pragma_query = '''
PRAGMA table_info(members);
'''

# Execute the PRAGMA query
cursor.execute(pragma_query)

# Fetch and print the column details
column_details = cursor.fetchall()
for column in column_details:
    print(column)


# Close the cursor and the connection
cursor.close()
con.close()

--------------------- Books Tables ---------------------------------

(0, 'title', 'TEXT', 1, None, 0)
(1, 'author', 'TEXT', 1, None, 0)
(2, 'publication_year', 'INT', 1, None, 0)

--------------------- Member Tables ---------------------------------

(0, 'name', 'TEXT', 1, None, 0)
(1, 'email', 'TEXT', 1, None, 0)
(2, 'membership_status', 'TEXT', 1, None, 0)